Repository Geomatys/examind-community: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, docker-build, docker-push, sonar, test:hsqldb, test:postgresql

build:
  stage: build
  script:
  - mvn clean install -ntp -DskipTests -s $MAVEN_SETTINGS
  - 'mvn -pl :exa-bundle -Pdocker -Ddocker.tag=$DOCKER_TAG resources:copy-resources@copy-dockerfile dependency:copy@copy-nio-filesystems
  
    '
  artifacts:
    paths:
    - modules/bundles/exa-bundle/target/

docker-build:
  stage: publish
  needs:
  - build
  - test:hsqldb
  - test:postgresql
  image: gcr.io/kaniko-project/executor:debug
  variables:
    DOCKER_TAG: latest
    KANIKO_OPTS: --no-push
  script:
  - mkdir -p /kaniko/.docker && echo $DOCKER_AUTH_CONFIG > /kaniko/.docker/config.json
  ...

docker-push:
  stage: publish
  needs:
  - build
  - test:hsqldb
  - test:postgresql
  image: gcr.io/kaniko-project/executor:debug
  variables:
    DOCKER_TAG: latest
    KANIKO_OPTS: --no-push
  script:
  - mkdir -p /kaniko/.docker && echo $DOCKER_AUTH_CONFIG > /kaniko/.docker/config.json
  ...

sonar:
  allow_failure: true
  stage: quality
  needs:
  - build
  script:
  - mvn install sonar:sonar -DskipTests -s $MAVEN_SETTINGS -Dsonar.host.url=$SONAR_HOST_URL -Dsonar.login=$SONAR_TOKEN

test:hsqldb:
  stage: test
  needs:
  - build
  retry:
    when: script_failure
    max: 1
  variables:
    TEST_DATABASE_URL: jdbc:hsqldb:mem:admin
  script:
  - mvn install -ntp -s $MAVEN_SETTINGS
  artifacts:
    when: always
    paths:
    - '**/target/surefire-reports/'
    reports:
      junit: '**/target/surefire-reports/TEST-*.xml'

test:postgresql:
  stage: test
  needs:
  - build
  retry:
    when: script_failure
    max: 1
  variables:
    TEST_DATABASE_URL: jdbc:postgresql://postgres:5432/admin
    POSTGRES_DB: admin
    POSTGRES_USER: exa_user
    POSTGRES_PASSWORD: exa_password
    DATABASE_USERNAME: exa_user
    DATABASE_PASSWORD: exa_password
  script:
  ...

fix/CoverageAPI_SampleDimensionIssue: edit the quickfix for color model (null exception)
  modules/web-services/cstl-web-wcs/src/main/java/org/constellation/coverage/core/DefaultWCSWorker.java
Due: docker-build, docker-push, test:hsqldb, test:postgresql

chore(HSQL): fix login with an HSQL database
  modules/bundles/exa-services/src/main/webapp/WEB-INF/security-sdi.xml
Due: docker-build, docker-push, test:hsqldb, test:postgresql

fix(*): fix for observation endpoint with property filter
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2ObservationFilter.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2ObservationFilterReader.java
  modules/web-services/cstl-web-sts/src/test/java/org/constellation/ws/embedded/STSRequestTest.java
  modules/web-services/cstl-web-sts/src/test/resources/com/examind/sts/embedded/obs-filter-3-ct.json
  modules/web-services/cstl-web-sts/src/test/resources/com/examind/sts/embedded/obs-filter-3.json
  modules/web-services/cstl-web-sts/src/test/resources/com/examind/sts/embedded/obs-filter-4-ct.json
  modules/web-services/cstl-web-sts/src/test/resources/com/examind/sts/embedded/obs-filter-4.json
  modules/web-services/cstl-web-sts/src/test/resources/com/examind/sts/embedded/obs-filter-5-ct.json
  modules/web-services/cstl-web-sts/src/test/resources/com/examind/sts/embedded/obs-filter-5.json
Due: docker-build, docker-push, test:hsqldb, test:postgresql

fix(core): fix in csv store for overidding implementation
  modules/engine/examind-engine-process-sos/src/main/java/com/examind/store/observation/AbstractCsvStore.java
Due: docker-build, docker-push, test:hsqldb, test:postgresql

fix(GPX): add gpx datastore dependency
  modules/bundles/exa-services/pom.xml
  pom.xml
Due: build, docker-build, docker-push, sonar, test:hsqldb, test:postgresql

fix(ogc-service): do not send error on GFI matching no feature
  modules/web-services/cstl-web-map/src/main/java/org/constellation/map/featureinfo/GeoJSONFeatureInfoFormat.java
  modules/web-services/cstl-web-map/src/main/java/org/constellation/map/featureinfo/JSONFeatureInfoFormat.java
Due: docker-build, docker-push, test:hsqldb, test:postgresql

fix(Docker): fix bad syntax on LABEL command
  modules/bundles/exa-bundle/src/docker/Dockerfile
Due: docker-build, docker-push, test:hsqldb, test:postgresql

chore(Docker): Upgrade Tomcat version to 10.1.40, use a build arg to set tomcat version
  modules/bundles/exa-bundle/src/docker/Dockerfile
Due: docker-build, docker-push, test:hsqldb, test:postgresql

chore(*): update ddb version
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2ObservationFilter.java
  pom.xml
Due: build, docker-build, docker-push, sonar, test:hsqldb, test:postgresql

fix(core): enlarge uom column for procedure fields
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2DatabaseCreator.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2ObservationFilterReader.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2ObservationWriter.java
  modules/storage/cstl-store-data-observationstore/src/main/resources/org/constellation/om2/structure_observations.sql
  modules/storage/cstl-store-data-observationstore/src/main/resources/org/constellation/om2/structure_observations_ddb.sql
  modules/storage/cstl-store-data-observationstore/src/main/resources/org/constellation/om2/structure_observations_pg.sql
  modules/storage/cstl-store-data-observationstore/src/main/resources/org/constellation/om2/update/update119.sql
Due: docker-build, docker-push, test:hsqldb, test:postgresql

refactor(core): minor refactoring
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2BaseReader.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2ObservationFilter.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2ObservationReader.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2ObservationWriter.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/sensor/OM2SensorReader.java
Due: docker-build, docker-push, test:hsqldb, test:postgresql

feat(ogc): add json output to WMS getLegendGraphic
  modules/web-services/cstl-web-wms/src/main/java/org/constellation/map/core/DefaultWMSWorker.java
  modules/web-services/cstl-web-wms/src/main/java/org/constellation/map/core/WMSWorker.java
  modules/web-services/cstl-web-wms/src/main/java/org/constellation/map/ws/rs/WMSService.java
  modules/web-services/cstl-web-wms/src/test/java/org/constellation/ws/embedded/WMSRequestsTest.java
  modules/web-services/cstl-web-wms/src/test/resources/org/constellation/ws/embedded/style1.json
Due: docker-build, docker-push, test:hsqldb, test:postgresql

fix/CoverageAPI_CRS_Issues : fix crs, srs, trs in /collections/<data> and /collections/<data>/coverage/domainset + refactor the code for this part
  modules/web-services/cstl-web-ogc/src/main/java/com/examind/ogc/api/rest/common/dto/Extent.java
Due: docker-build, docker-push, test:hsqldb, test:postgresql

fix/CoverageAPI_CRS_Issues: add bboxCRS parameter to define bbox crs and output wanted, with the value "dataDefault" to get the crs of the data
  modules/web-services/cstl-web-ogc/src/main/java/com/examind/ogc/api/rest/common/dto/Extent.java
  modules/web-services/cstl-web-wcs/src/main/java/com/examind/ogc/api/rest/coverages/OGCCoverageAPI.java
  modules/web-services/cstl-web-wcs/src/main/java/org/constellation/coverage/core/DefaultWCSWorker.java
  modules/web-services/cstl-web-wcs/src/main/java/org/constellation/coverage/core/WCSWorker.java
Due: docker-build, docker-push, test:hsqldb, test:postgresql

fix(ogc): properly format date in custom dimension for WMS capabilities
  modules/web-services/cstl-web-wms/src/main/java/org/constellation/map/core/WMSUtilities.java
  modules/web-services/cstl-web-wms/src/test/java/org/constellation/ws/embedded/WMSRequestsTest.java
Due: docker-build, docker-push, test:hsqldb, test:postgresql

feat(*): implements complex filter in observation store
  modules/library/cstl-lib-base/src/main/java/org/constellation/util/MultiFilterSQLRequest.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/sos/io/generic/AbstractGenericObservationFilter.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/sos/io/generic/GenericObservationFilter.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2BaseReader.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2FilterAppend.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2ObservationFilter.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2ObservationFilterReader.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/SOSDatabaseObservationStore.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/mixed/MixedObservationFilterReader.java
  modules/storage/cstl-store-data-observationstore/src/test/java/org/constellation/provider/observationstore/ObservationStoreProviderTest.java
  modules/storage/cstl-store-data-om-lucene/src/main/java/org/constellation/sos/io/lucene/LuceneObservationFilter.java
Due: docker-build, docker-push, test:hsqldb, test:postgresql

refactor(*): rework conditional request mecanism
  modules/library/cstl-lib-base/src/main/java/org/constellation/util/FilterSQLRequest.java
  modules/library/cstl-lib-base/src/main/java/org/constellation/util/MultiFilterSQLRequest.java
  modules/library/cstl-lib-base/src/main/java/org/constellation/util/SingleFilterSQLRequest.java
  modules/library/cstl-lib-base/src/main/java/org/constellation/util/Util.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2BaseReader.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2ObservationFilter.java
Due: docker-build, docker-push, test:hsqldb, test:postgresql

chore(*): move to geotk snapshot
  buildset/pom.xml
  pom.xml
Due: build, docker-build, docker-push, sonar, test:hsqldb, test:postgresql

fix(*): update to sis changes
  modules/web-services/cstl-web-map/src/main/java/org/constellation/ws/LayerCache.java
  modules/web-services/cstl-web-map/src/test/java/org/constellation/process/service/FeatureTogeoJSONTest.java
  modules/web-services/cstl-web-wfs/src/main/java/org/constellation/wfs/core/LiteralCorrectionVisitor.java
  modules/web-services/cstl-web-wfs/src/test/resources/org/constellation/wfs/json/collection-v1.json
  modules/web-services/cstl-web-wfs/src/test/resources/org/constellation/wfs/json/collection-v2.json
  modules/web-services/cstl-web-wfs/src/test/resources/org/constellation/wfs/json/collection2.json
Due: docker-build, docker-push, test:hsqldb, test:postgresql

fix(Tests): fix dependency collision on CSW tests
  modules/engine/cstl-engine-admin/pom.xml
  modules/web-services/cstl-web-base/pom.xml
  modules/web-services/cstl-web-csw/pom.xml
  modules/web-services/cstl-web-csw/src/test/java/org/constellation/metadata/AbstractCSWworkerTest.java
  modules/web-services/cstl-web-csw/src/test/java/org/constellation/metadata/CSW2workerTest.java
  modules/web-services/cstl-web-csw/src/test/java/org/constellation/metadata/CSW3WorkerTest.java
  modules/web-services/cstl-web-csw/src/test/java/org/constellation/ws/embedded/CSW3RequestTest.java
  pom.xml
Due: build, docker-build, docker-push, sonar, test:hsqldb, test:postgresql

feat(*): implements complex filter in observation store
  modules/library/cstl-lib-base/src/main/java/org/constellation/util/SingleFilterSQLRequest.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2ObservationFilterReader.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/SOSDatabaseObservationStore.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/mixed/MixedObservationFilterReader.java
  modules/storage/cstl-store-data-om-lucene/src/main/java/org/constellation/sos/io/lucene/LuceneObservationFilter.java
  modules/web-services/cstl-web-sos/src/test/java/org/constellation/sos/ws/SOSWorkerTest.java
Due: docker-build, docker-push, test:hsqldb, test:postgresql

hack(Tests): disable DuckDB related tests on non-english locale hosts
  modules/storage/cstl-store-data-observationstore/src/test/java/org/constellation/provider/observationstore/MixedObservationStoreProviderTest.java
Due: docker-build, docker-push, test:hsqldb, test:postgresql

chore(Build): Upgrade Geotoolkit
  buildset/pom.xml
  pom.xml
Due: build, docker-build, docker-push, sonar, test:hsqldb, test:postgresql

fix(Helm): fix disabling persistence on Examind deployment
  helm/examind-community/Chart.yaml
  helm/examind-community/README.adoc
  helm/examind-community/templates/allInOne.yaml
  helm/examples/personalize-deployment/values-disable-persistence.yaml
Due: none

feat(core): handle like filter in observation
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/sos/io/generic/AbstractGenericObservationFilter.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2ObservationFilter.java
  modules/storage/cstl-store-data-observationstore/src/test/java/org/constellation/provider/observationstore/ObservationStoreProviderTest.java
  modules/storage/cstl-store-data-om-lucene/src/main/java/org/constellation/sos/io/lucene/LuceneObservationFilter.java
Due: docker-build, docker-push, test:hsqldb, test:postgresql

feat(*): add parameter fields to sos harvest process
  modules/engine/examind-engine-process-sos/src/main/java/com/examind/process/sos/SosHarvesterProcess.java
  modules/engine/examind-engine-process-sos/src/main/java/com/examind/process/sos/SosHarvesterProcessDescriptor.java
  modules/engine/examind-engine-process-sos/src/main/java/com/examind/store/observation/AbstractCsvStore.java
  modules/engine/examind-engine-process-sos/src/main/java/com/examind/store/observation/FileParsingObservationStore.java
  modules/engine/examind-engine-process-sos/src/main/java/com/examind/store/observation/FileParsingObservationStoreFactory.java
  modules/engine/examind-engine-process-sos/src/main/java/com/examind/store/observation/FileParsingUtils.java
  modules/engine/examind-engine-process-sos/src/main/java/com/examind/store/observation/MeasureBuilder.java
  modules/engine/examind-engine-process-sos/src/main/java/com/examind/store/observation/MeasureField.java
  modules/engine/examind-engine-process-sos/src/main/java/com/examind/store/observation/ObservationBlock.java
  modules/engine/examind-engine-process-sos/src/main/java/com/examind/store/observation/csv/CsvObservationStore.java
  modules/engine/examind-engine-process-sos/src/main/java/com/examind/store/observation/csv/CsvObservationStoreFactory.java
  modules/engine/examind-engine-process-sos/src/main/java/com/examind/store/observation/csvflat/CsvFlatObservationStore.java
  modules/engine/examind-engine-process-sos/src/main/java/com/examind/store/observation/csvflat/CsvFlatObservationStoreFactory.java
  modules/engine/examind-engine-process-sos/src/main/java/com/examind/store/observation/csvsplitted/CsvSplittedObservationStore.java
  modules/engine/examind-engine-process-sos/src/main/java/com/examind/store/observation/csvsplitted/CsvSplittedObservationStoreFactory.java
  modules/engine/examind-engine-process-sos/src/main/java/com/examind/store/observation/dbf/DbfObservationStore.java
  modules/engine/examind-engine-process-sos/src/main/java/com/examind/store/observation/dbf/DbfObservationStoreFactory.java
  modules/engine/examind-engine-process-sos/src/test/java/com/examind/process/sos/AbstractSosHarvesterTest.java
  modules/engine/examind-engine-process-sos/src/test/java/com/examind/process/sos/SosHarvesterProcessTest.java
  modules/engine/examind-engine-process-sos/src/test/java/com/examind/process/sos/SosHarvesterTestUtils.java
  modules/engine/examind-engine-process-sos/src/test/resources/com/examind/process/sos/multi-csv-param-values.txt
  modules/engine/examind-engine-process-sos/src/test/resources/com/examind/process/sos/multi-csv-param.csv
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/ResultValuesIterator.java
Due: docker-build, docker-push, test:hsqldb, test:postgresql

chore(*): upgrade geotk version
  buildset/pom.xml
  pom.xml
Due: build, docker-build, docker-push, sonar, test:hsqldb, test:postgresql

feat(*): add new csv flat export format for observation data
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/FieldParser.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2BaseReader.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2ObservationFilter.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2ObservationFilterReader.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2ObservationWriter.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/ResultProcessor.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/TimeScaleResultDecimator.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/decimation/DefaultResultDecimator.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/mixed/MixedFieldParser.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/mixed/MixedObservationFilterReader.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/model/ProcedureInfo.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/result/CsvFlatResultBuilder.java
  modules/storage/cstl-store-data-observationstore/src/test/java/org/constellation/provider/observationstore/ObservationStoreProviderTest.java
  modules/web-services/cstl-web-sts/src/test/java/org/constellation/ws/embedded/STSRequestTest.java
  modules/web-services/cstl-web-sts/src/test/resources/com/examind/sts/embedded/mds-data-array-1.csv
  modules/web-services/cstl-web-sts/src/test/resources/com/examind/sts/embedded/obs-data-array-1.csv
  modules/web-services/cstl-web-sts/src/test/resources/com/examind/sts/embedded/obs-data-array-1.json
  modules/web-services/cstl-web-sts/src/test/resources/com/examind/sts/embedded/obs-data-array-2.csv
  modules/web-services/cstl-web-sts/src/test/resources/com/examind/sts/embedded/obs-data-array-3.csv
Due: docker-build, docker-push, test:hsqldb, test:postgresql

feat(core): add new csv store: splitted
  modules/engine/cstl-engine-admin/src/main/java/org/constellation/admin/ProviderBusiness.java
  modules/engine/examind-engine-process-sos/src/main/java/com/examind/store/observation/FileParsingObservationStore.java
  modules/engine/examind-engine-process-sos/src/main/java/com/examind/store/observation/FileParsingUtils.java
  modules/engine/examind-engine-process-sos/src/main/java/com/examind/store/observation/csvsplitted/CsvSplittedObservationStore.java
  modules/engine/examind-engine-process-sos/src/main/java/com/examind/store/observation/csvsplitted/CsvSplittedObservationStoreFactory.java
  modules/engine/examind-engine-process-sos/src/main/resources/META-INF/services/org.apache.sis.storage.DataStoreProvider
  modules/engine/examind-engine-process-sos/src/test/java/com/examind/store/observation/csv/AbstractCsvStoreTest.java
  modules/engine/examind-engine-process-sos/src/test/java/com/examind/store/observation/csv/CsvSplittedObservationStoreTest.java
  modules/engine/examind-engine-process-sos/src/test/resources/com/examind/process/sos/splitted/ts/observations.csv
  modules/engine/examind-engine-process-sos/src/test/resources/com/examind/process/sos/splitted/ts/sensors.csv
  modules/engine/examind-engine-process-sos/src/test/resources/com/examind/process/sos/splitted/ts/variables.csv
Due: docker-build, docker-push, test:hsqldb, test:postgresql

feat(*): add observation quality/parameter fields to csv export
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2BaseReader.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2ObservationFilterReader.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2ObservationWriter.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/OM2Utils.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/model/DbField.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/model/InsertDbField.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/result/CsvFlatResultBuilder.java
  modules/storage/cstl-store-data-observationstore/src/test/java/org/constellation/provider/observationstore/ObservationStoreProviderTest.java
  modules/web-services/cstl-web-sts/src/test/resources/com/examind/sts/embedded/mds-data-array-1.csv
  modules/web-services/cstl-web-sts/src/test/resources/com/examind/sts/embedded/obs-data-array-1.csv
  modules/web-services/cstl-web-sts/src/test/resources/com/examind/sts/embedded/obs-data-array-2.csv
  modules/web-services/cstl-web-sts/src/test/resources/com/examind/sts/embedded/obs-data-array-3.csv
Due: docker-build, docker-push, test:hsqldb, test:postgresql

chore(*): work on csflat export
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/result/CsvFlatResultBuilder.java
  modules/storage/cstl-store-data-observationstore/src/test/java/org/constellation/provider/observationstore/ObservationStoreProviderTest.java
  modules/web-services/cstl-web-sts/src/test/resources/com/examind/sts/embedded/mds-data-array-1.csv
  modules/web-services/cstl-web-sts/src/test/resources/com/examind/sts/embedded/obs-data-array-1.csv
  modules/web-services/cstl-web-sts/src/test/resources/com/examind/sts/embedded/obs-data-array-2.csv
  modules/web-services/cstl-web-sts/src/test/resources/com/examind/sts/embedded/obs-data-array-3.csv
Due: docker-build, docker-push, test:hsqldb, test:postgresql

fix(*): fix for observation endpoint with property filter
  modules/web-services/cstl-web-sts/src/test/java/org/constellation/ws/embedded/STSRequestTest.java
Due: docker-build, docker-push, test:hsqldb, test:postgresql

fix(core): do no set the stats to error when partial serialization fails + fix serialisation errors
  modules/engine/cstl-engine-admin/src/test/java/org/constellation/admin/DataBusinessTest.java
  modules/storage/cstl-store-data-datastore/src/main/java/org/constellation/provider/util/DataStatisticsListener.java
  modules/storage/cstl-store-data-datastore/src/main/java/org/constellation/provider/util/ImageStatisticSerializer.java
Due: docker-build, docker-push, test:hsqldb, test:postgresql

fix(WMS): fix LegendURL in GetCapabilities response
  modules/web-services/cstl-web-wms/src/main/java/org/constellation/map/core/DefaultWMSWorker.java
Due: docker-build, docker-push, test:hsqldb, test:postgresql

fix(core): minor fix in OM2 sensor store
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/sensor/SOSDatabaseSensorStoreFactory.java
Due: docker-build, docker-push, test:hsqldb, test:postgresql

feat(core): handle link with previous and future metadata provider to all-metadata CSW
  modules/engine/cstl-engine-admin/src/main/java/org/constellation/admin/ProviderBusiness.java
  modules/engine/cstl-engine-admin/src/main/java/org/constellation/admin/ServiceBusiness.java
Due: docker-build, docker-push, test:hsqldb, test:postgresql

feat(*): use examind datasource for SQL store
  modules/bundles/exa-webui/grunt/src/components/wizard-data-import/steps/step1/db-source/db-source.js
  modules/bundles/exa-webui/grunt/src/components/wizard-data-import/steps/step1/step1.js
  modules/engine/cstl-engine-admin/src/main/java/org/constellation/admin/ProviderBusiness.java
  modules/engine/examind-engine-heat-map/pom.xml
  modules/engine/examind-engine-heat-map/src/main/java/com/examind/image/pointcloud/AbstractSQLPointCloud.java
  modules/engine/examind-engine-heat-map/src/main/java/com/examind/image/pointcloud/DuckDbArrowPointCloud.java
  modules/engine/examind-engine-heat-map/src/main/java/com/examind/image/pointcloud/DuckDbPointCloud.java
  modules/engine/examind-engine-heat-map/src/main/java/com/examind/image/pointcloud/SQLPointCloudProvider.java
  modules/engine/examind-engine-heat-map/src/test/java/com/examind/image/heatmap/ProfileHeatMap_DuckDB.java
  modules/storage/exa-store-data-sql/pom.xml
  modules/storage/exa-store-data-sql/src/main/java/com/examind/community/storage/sql/SQLProvider.java
Due: docker-build, docker-push, test:hsqldb, test:postgresql

cleanup + fix
  modules/engine/cstl-engine-admin/src/main/java/org/constellation/admin/DatasourceBusiness.java
  modules/library/cstl-lib-api/src/main/java/org/constellation/business/IDatasourceBusiness.java
  modules/library/cstl-lib-base/src/main/java/org/constellation/util/SQLUtilities.java
  modules/library/cstl-lib-base/src/main/java/org/constellation/util/converter/DataSourceToStringConverter.java
  modules/library/cstl-lib-base/src/main/java/org/constellation/util/converter/StringToDataSourceConverter.java
  modules/library/cstl-lib-base/src/main/resources/META-INF/services/org.apache.sis.util.ObjectConverter
  modules/library/cstl-lib-base/src/test/java/org/constellation/util/converter/DataSourceToStringConverterTest.java
  modules/storage/cstl-store-data-observationstore/src/main/java/org/constellation/store/observation/db/SOSDatabaseParamsUtils.java
  modules/storage/exa-store-data-sql/src/main/java/com/examind/community/storage/sql/DatasourceCache.java
  modules/testing/data/src/main/java/org/constellation/test/utils/TestEnvironment.java
Due: docker-build, docker-push, test:hsqldb, test:postgresql

fix(Build): add support for HSQL database for development and production environments
  pom.xml
Due: build, docker-build, docker-push, sonar, test:hsqldb, test:postgresql

Path conditions:
  build: any of: buildset/*, modules/*, modules/**, pom.xml
  docker-build: any of: buildset/*, modules/*, modules/**/*, pom.xml
  docker-push: any of: buildset/*, modules/*, modules/**/*, pom.xml
  sonar: any of: buildset/*, modules/*, modules/**, pom.xml
  test:hsqldb: any of: buildset/*, modules/*, modules/**/*, pom.xml
  test:postgresql: any of: buildset/*, modules/*, modules/**/*, pom.xml
